# CSS
* {
	background-image:url(".../stylesheets/road.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-color:red;
}
ul {	
	position:relative;
	float:bottom;
	list-style-type:none;
	background-color: #333;
	overflow:hidden;
}
li {
	float:right;
}
li a {
	display:block;
	color:white;
	text-align:center;
	padding: 14px 16px;
	text-decoration: none;
}
.headstuff{
	position:absolute;
	bottom:0;
	width: 100%;
}
li a:hover {
	background-color: #555;
	color: white;
}
h1 {
	position:relative;
	padding: 70px 0;
	border: 3px solid green;
	text-align: center;
}
