# CSS
* {
	background-image:url("https://ittherobsonator.github.io/stylesheets/Picture of me.jpg");
}
body {
	background-image:url(".../stylesheets/Road.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-color:red;
}
ul {
	bottom:0;
	list-style-type:none;
	background-color: #333;
	overflow:hidden;
}			
li {
	float:right;
}
li a {
	display:block;
	color:white;
	text-align:center;
	padding: 14px 16px;
	text-decoration: none;
}
.headstuff{
	position:absolute;
	margin-bottom:0px;
	left:10px;
	right:10px;
}
li a:hover {
	background-color: #555;
	color: white;
}
h1 {
	position:relative;
	padding: 70px 0;
	border: 3px solid green;
	text-align: center;
}